.idea
.vscode
build

node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist/
postgres-data/
redis-data/
postgres_data
redis_data

CLAUDE.md
docker-compose.override.yml